body {
    text-align: center
}

.section {
    padding: 0.6em;

    text-align: left;
    margin: 0.6em;

    border-color: black;
    border-style: solid;
    border-width: 0.2em;

    border-radius: 1em;

    overflow: hidden;
}

.top {
    background-color: #DFE4EE;
    width: 100%;
    text-align:center;
}

.sectitle {
    color: 	#3B5998;
    font-family: arial, verdana, sans-serif;
    font-variant: small-caps;
    font-size: 2em;
    text-indent: 2em;
    margin: 0em;
    float: left;
}

.load {
    display: inline-block;
    font-size: 0.8em;
}

.showhide {
    font-size: 0.8em;
}

input[type="text"]
{
    font-size: 0.6em;
}

.showhide {
    float: right;

    margin: 0.6em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.content {
    display: none;
}

#pow_stats {
    display: none;
}

#pow_stats
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 0.8em;
    margin: 1em;
    margin-left: 3em;
}

#pow_stats td, #pow_stats th
{
    text-align: center;
    padding: 0.5em 0.5em 0em 0.5em;
    border: 0.1em solid black;
}

.ele
{
    color: #AA4643;
}

.gas
{
    color: #4572A7;
}

#adjust {
    font-size: 0.6em;
}
